[Unit]
Description=Gunicorn service - SSML app
After=network.target

[Service]
User={{ ansible_ssh_user }}
Group=www-data
WorkingDirectory=/home/{{ ansible_ssh_user }}/ssml-console/src/
Environment="PATH=/home/{{ ansible_ssh_user }}/venv-ssml-console/bin"
ExecStart=/usr/bin/gunicorn3 --workers 3 --bind unix:ssml.sock -m 007 app:app